@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body, html {
    height: 100%;
    font-family: 'Ubuntu', Arial, sans-serif;
}

#l-sidebar {
    height: 100%;
    width: 25%;
    margin: 0;
    display: inline-block;
    position: fixed;
}

#l-content {
    width: 62.6%;
    padding: 20px;
    margin: 0;
    display: inline-block;
    position: absolute;
    right: 0;
}
