@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
/**
 * This project uses smacss in order to keep
 * the stylesheets organized.
 *
 * For more details:
 * http://smacss.com/book/categorizing
 */
/**
 * Import mixins
 *
 * A set of useful LESS mixins
 */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * Import base rules
 *
 * Base styles include setting heading sizes,
 * default link styles, default font styles,
 * and body backgrounds.
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * default.less
 *
 * Base styles include setting heading sizes,
 * default link styles, default font styles,
 * and body backgrounds.
 */
/*******************************************
* Variables
********************************************/
/*******************************************
* Base definitions
********************************************/
body,
html {
  color: #3b3b3b;
  font-size: 16px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  height: 100%;
  line-height: 1.45em;
  background-color: #ffffff;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  color: #000000;
  font-size: 38px;
  padding: 28px 0px;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  display: block;
  font-family: 'Ubuntu', 'Arial', sans-serif;
  line-height: 1em;
}
h2,
.h2 {
  font-size: 30px;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
h3,
.h3 {
  font-size: 26px;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -webkit-opacity: 0.4;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity=40);
}
h4,
.h4 {
  font-size: 20px;
}
small {
  opacity: 0.7;
  font-size: 0.8em;
}
p {
  text-align: justify;
}
a {
  color: #3b8eb9;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
b {
  font-weight: bold;
}
i {
  font-style: italic;
}
em {
  color: #8ac932;
}
hr {
  border: solid 2px #dddddd;
}
pre,
code {
  font-family: monospace;
  font-size: 14px;
  background-color: #000000;
  color: #ffffff;
  opacity: 0.8;
  padding: 5px;
  margin: 5px 0;
}
pre.is-inline,
code.is-inline {
  display: inline;
}
blockquote {
  display: block;
  background-color: #dddddd;
  font-style: italic;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
blockquote small {
  display: block;
  margin-top: 5px;
}
blockquote small:before {
  content: '\2014 \00A0';
}
/**
 * Import layout rules
 *
 * These rules serves as a grid to orient the
 * element placement.
 */
/**
 * general.less
 *
 * These rules defines the orientation and
 * the placement of general elements.
 */
/*******************************************
* Media queries
********************************************/
/*******************************************
* Layout
********************************************/
#top-horizontal {
  display: block;
  height: 162px;
}
@media only screen and (min-width: 720px) and (max-width: 1079px) {
  #top-horizontal {
    height: 80px;
  }
}
@media only screen and (max-width: 719px) {
  #top-horizontal {
    height: 38px;
  }
}
l-horizontal {
  display: block;
  width: 100%;
}
#wrapper {
  min-height: 50%;
  margin: 20px 0 40px 0;
}
@media only screen and (min-width: 1080px) {
  #wrapper {
    margin: 20px 0 80px 0;
  }
}
#footer {
  display: block;
}
/**
 * grid.less
 *
 * A simple grid system used to place blocks
 * of elements in a responsive way.
 */
/*******************************************
* Grid classes
********************************************/
.l-block-container {
  /**
     * The .l-block-container may have a number
     * of l-block-n elements where 'n' means how
     * many columns are going to be placed in
     * a single line.
     */
  width: 1080px;
  margin: auto;
  overflow: hidden;
  /**
     * .centered is a special class that
     * allow a grid piece to be centered within
     * a l-block-container
     */
}
.l-block-container .l-block-1,
.l-block-container .l-block-2,
.l-block-container .l-block-3,
.l-block-container .l-block-4,
.l-block-container .l-block-5,
.l-block-container .l-block-6,
.l-block-container .l-block-7,
.l-block-container .l-block-8 {
  float: left;
  padding: 10px;
}
.l-block-container .l-block-1 {
  width: 1060px;
}
.l-block-container .l-block-2 {
  width: 520px;
}
.l-block-container .l-block-3 {
  width: 340px;
}
.l-block-container .l-block-4 {
  width: 250px;
}
.l-block-container .l-block-5 {
  width: 196px;
}
.l-block-container .l-block-6 {
  width: 160px;
}
.l-block-container .l-block-7 {
  width: 134px;
}
.l-block-container .l-block-8 {
  width: 115px;
}
.l-block-container .l-centered {
  float: none;
  margin: auto;
}
@media only screen and (min-width: 720px) and (max-width: 1079px) {
  .l-block-container {
    /**
         * In the tablet media query, display
         * max of two blocks per line.
         */
    width: 100%;
    /**
         * .centered is a special class that
         * allow a grid piece to be centered within
         * a l-block-container
         */
  }
  .l-block-container .l-block-1,
  .l-block-container .l-block-2,
  .l-block-container .l-block-3,
  .l-block-container .l-block-4,
  .l-block-container .l-block-5,
  .l-block-container .l-block-6,
  .l-block-container .l-block-7,
  .l-block-container .l-block-8 {
    margin: 0;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
  }
  .l-block-container .l-block-1 {
    width: 100%;
  }
  .l-block-container .l-centered {
    float: none;
    margin: auto;
  }
}
@media only screen and (max-width: 719px) {
  .l-block-container {
    /**
         * In the phone media query, display
         * a single block per line.
         */
    width: 100%;
    margin: 0;
  }
  .l-block-container .l-block-1,
  .l-block-container .l-block-2,
  .l-block-container .l-block-3,
  .l-block-container .l-block-4,
  .l-block-container .l-block-5,
  .l-block-container .l-block-6,
  .l-block-container .l-block-7,
  .l-block-container .l-block-8 {
    margin: 0;
    padding: 10px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 30px;
  }
}
/**
 * Import modules
 *
 * Modules sit inside Layout components and can
 * sometimes sit within other Modules, too. Each
 * Module should be designed to exist as a
 * standalone component.
 */
