.m-sidebar {
    padding: 20px;
    border-right: 1px solid @light-gray;
}

.m-sidebar .logo {
    img {
        width: 100%;
    }
}

.m-sidebar .pages {
    text-align: center;
}

.m-sidebar .page-item {
    padding: 10px 0px;
    color: @gray;
}

.m-sidebar .page-item:hover {
    padding: 10px 0px;
    color: @black;
}
